#division1{
    background-color: black;
    height: 150px;
}

.white{
    background-color: white;
    height: 20px;
}

#division2{
    background-color: red;
    height: 150px;
}

#division3{
    background-color: green;
    height: 150px;
}
